---
# http://docs.python-guide.org/en/latest/starting/install/osx/

- name: Ensure it is possible to use pip
  package: name=python@2

- name: Ensure it is possible to gnu ls
  package: name=coreutils

- name: Ensure MacOS Cataline bash deprecation prompt is supressed
  blockinfile:
    dest: "{{ ansible_env.HOME }}/.bash_profile"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (MacOS Catalina bash deprecation prompt is suppressed)"
    create: true
    insertbefore: BOF
    block: export BASH_SILENCE_DEPRECATION_WARNING=1

- name: Ensure ~/.bashrc is sourced in ~/.bash_profile on MacOS
  blockinfile:
    dest: "{{ ansible_env.HOME }}/.bash_profile"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (make sure .bashrc is sourced)"
    create: true
    insertbefore: BOF
    block: |
      if [ -f ~/.bashrc ]; then
          . ~/.bashrc
      fi

# http://davidalger.com/development/bash-completion-on-os-x-with-brew/
- name: Ensure bash completion is used on MacOS
  blockinfile:
    dest: "{{ ansible_env.HOME }}/.bash_profile"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (make sure bash completion is sourced)"
    create: true
    block: |
      if [ -f $(brew --prefix)/etc/bash_completion ]; then
        . $(brew --prefix)/etc/bash_completion
      fi

- name: Ensure it is possible to use md5sum
  package: name=md5sha1sum
